body{
  background-color:mediumslateblue;
  margin: 0;
  padding: 0;
}

.main-component{
  position: relative;
}
.navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.navbar-left {
  margin-left: 1rem;
  flex: 1;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-right: 1rem;
  padding: 0;
}

.navbar-right .menu-toggle {
  display: none;
  cursor: pointer;
}

.navbar-right .menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

.navbar-right .menu-toggle.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.navbar-right .menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}

.navbar-right .menu-toggle.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

.navbar-right .navbar-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lander {
  position: relative;
  top: 100px;
}

.navbar-righnavbar-rightt .navbar-options.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
}

.navbar-right .navbar-options li {
  margin-left: 1rem;
}

.navbar-right .navbar-options li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar-right .menu-toggle {
    display: block;
  }

  .navbar-right {
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
  }

  .navbar-right .navbar-options {
    display: none;
    flex-direction: column;
    margin: 1rem 0 0 0;
    padding: 0;
  }

  .navbar-right .navbar-options.open {
    display: flex;
  }

  .navbar-right .navbar-options li {
    margin: 0.5rem 0;
  }

}